<script lang="ts">
    import Navbar from "./components/Navbar.svelte";
    import type {LayoutData} from './$types';

    export let data: LayoutData;

    let supabase, session;

    $: ({supabase, session} = data);

    $: user = data.session?.user;

</script>

<Navbar {user} />

<slot />
