<script lang="ts">
    import {goto, invalidate} from '$app/navigation';
    import {onMount} from 'svelte';
    import type {LayoutData} from './$types';
    import "../app.css";

    export let data: LayoutData;


    onMount(() => {
        const {
            data: {subscription},
        } = data.supabase.auth.onAuthStateChange((event, _session) => {
            if (_session?.expires_at !== data.session?.expires_at) {
                invalidate('supabase:auth');
            }
        });

        return () => subscription.unsubscribe();
    });
</script>

<slot/>
