<script lang="ts">
    import {PUBLIC_SUPABASE_ANON_KEY, PUBLIC_SUPABASE_URL} from '$env/static/public'
    import Auth from 'supabase-ui-svelte';
    import type {LayoutData} from './$types';
    import {goto} from "$app/navigation";

    export let data: LayoutData;
    $: ({supabase, session} = data);

    $: {
        if (data.session?.user) {
            goto('/auth');
        }
    }

    data.supabase.auth.signIn = data.supabase.auth.signInWithPassword;

    console.log(data.supabase.auth.signIn)
</script>

<Auth supabaseClient={data.supabase}/>
